streamlit
streamlit-chat
datasets==2.16.0
trl
bitsandbytes
git+https://github.com/huggingface/transformers
peft
accelerate
langchain
python-dotenv
transformers
torch
torchvision
langchain-community
matplotlib
seaborn